<section id="objetives">
  <div class="container">
    <h2 class="text-center icon-color">Objetivos</h2>
    <div  class="row mb-5" >
      <div class="col-md-7">
        <div class="container-img">
          <div id="circle-img">
            <img
              id="imgCard"
              src="/assets/images/objetives.jpg"
              class=""
              alt="image"
            />
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="card" class="card shadow">
          <p>
            Elevar nuestra productividad cada día con la implementación de
            servicios con los más altos estándares de calidad.
          </p>
          <p>
            Desempeñar, ofrecer y desarrollar nuestros servicios de la mejor
            manera posible para ser reconocidos por nuestra eficiencia, calidad
            y excelencia.
          </p>
          <p>
            Seguir innovando y trabajando con el mismo interés desde el inicio.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
