<section id="about">
  <div class="container">
    <h2 class="text-center text-capitalize  mb-5 icon-color">Acerca de nosotros</h2>
    <div class="row margin-t">
      <div class="col-md-5">
        <h4 class="icon-color">¿Quiénes somos?</h4>
        <p class="line-text">
          Somos una empresa que se dedica a brindar servicios de contabilidad
          subcontratadas, es una firma de contadores públicos autorizados,
          especializados en servicios de auditoría, contabilidad, impuestos,
          consultoría financiera y gerencial. Nos acompaña un equipo técnico
          altamente capacitado, presto para identificar las necesidades de
          nuestros clientes y asistirles en su proceso de mejora continua; así
          como, en la optimización de su modelo de negocio.
        </p>
        <p id="second" class="line-text">
          Ofrecemos un servicio personalizado, con los más altos estándares de
          calidad y siempre apegados a las mejores prácticas del mercado.
          Proponiendo e innovando servicios con los estándares de la más alta
          calidad, a través de una gran estructura organizacional.
        </p>
      </div>

      <div  class="col-md-7" id="image">
        <div class="container-img">
          <div id="circle-img">
            <img
              id="imgCard"
              src="/assets/images/anything-but-traditional.png"
              class=""
              alt="image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-t">
      <div class="col-md-6">
        <div class="container-img">
          <div id="circle-img">
            <img
              id="imgCard"
              src="/assets/images/man.png"
              class=""
              alt="Doctor image"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <h4><i class="fas fa-tasks icon-color"> </i> Misión</h4>
        <p class="line-text">
          Ser un referente a nivel nacional en soluciones integrales de
          negocios, caracterizados por el involucramiento y acompañamiento con
          nuestros clientes; así como, por el desarrollo y la calidad de nuestro
          capital humano.
        </p>
        <h4 class="mt-5"> <i class="fas fa-binoculars icon-color"> </i> Visión</h4>
        <p class="line-text">
          Ofrecer soluciones integrales de negocios a nuestros clientes,
          convirtiéndonos en sus aliados estratégicos, agregando constante valor
          tanto a sus operaciones como a nuestros colaboradores
        </p>
        <h4 class="mt-5 hide-div"> <i class="fas fa-handshake icon-color"> </i> Valores</h4>
        <div class="row hide-div">
          <div class="col-md-6">
            <ul>
              <li class="line-text">Compromiso</li>
              <li class="line-text">Responsabilidad</li>
              <li class="line-text">Integridad</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li class="line-text">Confianza</li>
              <li class="line-text">Transparencia</li>
              <li class="line-text">Pro-actividad</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
