<section id="services">
  <div class="container">
    <h2 class="text-center  icon-color">Servicios</h2>
    <div class="row">
      <div class="col-md-6">
        <h4><i class="fas fa-calculator icon-color"></i> Contabilidad</h4>
        <ul class="card shadow">
          <li>Outsourcing contable</li>
          <li>Compilación de estados financieros</li>
          <li>Revisión de estados financieros</li>
          <li>Elaboración política y procedimientos</li>
          <li>Implementación mejores prácticas</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4><i class="fab fa-acquisitions-incorporated icon-color"> </i> Impuestos</h4>
        <ul class="card shadow">
          <li>Outsourcing de cumplimiento permanente</li>
          <li>Supervisión fiscal permanente</li>
          <li>Revisiones fiscales</li>
          <li>Elaboración declaraciones juradas</li>
          <li>Notificaciones de impuestos</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4><i class="fas fa-users icon-color"> </i> Consultoría</h4>
        <ul class="card shadow">
          <li>Definición de políticas</li>
          <li>Plan de negocios</li>
          <li>Estructuración financiera</li>
          <li>Análisis de riesgo</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4><i class="fas fa-book-reader icon-color"> </i> Auditoría</h4>
        <ul class="card shadow">
          <li>Auditoría interna</li>
          <li>(Evaluación de controles internos)</li>
          <li>Auditoría financiera</li>
          <li>Procedimientos acordados</li>
        </ul>
      </div>
    </div>
  </div>
</section>
